* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.header {
  background: #1F2937;
}

.hero-logo {
  font-size: 24px;
}

.page-padding {
  padding: 0px 225px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
  }

  a {
    text-decoration: none;
  }
}

.header-image,
.hero-secondary-text,
.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  margin-bottom: 8px;
}

.header-image {
  background: gray;
  height: 225px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header-content {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.sign-up-button {
  background: #3882F6;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
}

.high-contrast-text {
  color: #F9FAF8;
}

.info-content-item-img {
  border: 4px solid #3882F6;
  border-radius: 16px;
  height: 150px;
  width: 150px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.info-content-item-text {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
  height: 150px;
  width: 150px;
  padding-top: 8px;
  color: gray;
}
