* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.header {
  background: #1F2937;
}

.hero-logo {
  font-size: 24px;
  color: #F9FAF8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
  }

  a {
    text-decoration: none;
  }
}

.header-image,
.hero-secondary-text,
.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8
}

.header-image {
  background: gray;
  height: 150px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
